body
{
	background:url(../images/bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

/* Navbar properties*/
.navbar
{
	background-color:#18539b!important;
	border:none;
	box-shadow:#333 0px 3px 3px;
}
.navbar > .navbar-collapse > .navbar-nav > li > a:hover
{
	background-color:#0f3666 !important;
	color:#DDD;
	-webkit-transition:ease-in 0.3s;
	text-shadow:#003 2px 2px 2px;
}

.navbar .navbar-collapse .navbar-nav li.active a
{
	background-color:#0f3666 !important;
	color:#DDD;
	-webkit-transition:ease-in 0.3s;
	text-shadow:#000 2px 2px 2px;
}

.navbar > .navbar-collapse > .navbar-nav > li > a
{
	background-color:#18539b !important;
	color:#fff;
	font-family:Calibri;
	font-size:22px !important;
	font-weight:300;
	-webkit-transition:ease-out 0.4s;
}

.navbar > .navbar-collapse > .navbar-nav > .dropdown > .dropdown-menu,.navbar > .navbar-collapse > .navbar-nav > .dropdown > .dropdown-menu >li >a
 {
	 border: none;
	background-color:#0a4f9a;
	color:#fff;
    font-size: 18px !important;
  }

.navbar > .navbar-collapse > .navbar-nav > .dropdown > .dropdown-menu >li >a:hover
{
	background-color:#EEE;
	color:#0a4f9a;
}
.navbar .navbar-header .navbar-toggle .icon-bar
{
	background-color:#fff;
}
.navbar .navbar-header .navbar-brand
{
	color:#fff;
	font-size:24px;
}

.dropdown:hover .dropdown-menu {
    display: block;
 }
 


/* Navbar properties end */
.logo
{
	padding:10px;
}
.item > img
{
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.item > h1,.item > h2
{
	color:#18539b;
}
.item > h1
{
	font-size:40px;
	font-family:Cambria;
}
.item > h2
{
	font-size:20px;
}
.latest
{
	padding-top:20px;
}
.latest-heading
{
	font-size:24px;
	color:#18539b;
	margin-bottom:-10px;
}
.fblink
{
	text-decoration:none;
	font-size:25px;
}
.fblink > img
{
		padding-right:10px;
}
.fblink:hover
{
	text-decoration:none;
	font-size:25px;
}
.fblink:focus
{
	text-decoration:none;
	font-size:25px;
}
hr
{
	border-color:#18539b;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=submit]
{
	background-color:#18539b;
	color:#fff;
	border-radius:10px;
	border:none;
	height:30px;
	width:100px;
}
td
{
	padding:10px;
}
a:hover,a:focus
{
	text-decoration:none;
}

.sliderbtn
{
	width:20px;
	height:20px;
	border-radius:10px;
	display:inline-block;
	background-color:rgba(153,153,153,0.8);
}
.sliderbtn >a
{
	padding-left:5px;
	color:#FFF;
}
input.cf-ip
{
	border-radius:5px;
	border:#ccc solid 1px;
	height:35px;
	width:100%;
	box-shadow:
	inset 0 0 8px #ccc;
	outline:none;
	padding-left:7px;
}
textarea.cf-ip
{
	padding:7px;
	border-radius:5px;
	border:#ccc solid 1px;
	width:100%;
	resize:none;
	height:150px;
	box-shadow:
	inset 0 0 8px #ccc;
	outline:none;
}
textarea.cf-ip:focus,input.cf-ip:focus
{
	outline:none;
	border:#66F solid 2px;
	box-shadow:
	inset 0 0 16px #CCC;
}
textarea.cf-ip::-webkit-input-placeholder
{
	font-size:14px;
}

textarea.cf-ip:-ms-input-placeholder
{
	font-size:14px;
}
textarea.cf-ip::-moz-placeholder
{
	font-size:14px;
}
input.cf-ip::-webkit-input-placeholder
{
	font-size:14px;
}

input.cf-ip:-ms-input-placeholder
{
	font-size:14px;
}
input.cf-ip::-moz-placeholder
{
	font-size:14px;
}
.contactform-table
{
	margin-left:auto;
	margin-right:auto;
	width:80%;
	min-width:270px;
}
.contactform-table td.ip-field
{
	width:75%
}